:host {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .button-row {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: .7em;
  }
}

.isActive {
  background-color: #6780cc;
  border-color: #06f;
  color: #06f;
  fill: #06f;
}
