<div id="sudoku-main-component" [ngClass]="settingsTheme">
  <nav>
    <h1>Sudoku</h1>
  </nav>
  <div class="main-panel">
    <div class="game-panel">
      <field [field]="sudokuService.playingField | async"
             (select)="sudokuService.handleFieldSelect($event)"
      ></field>
      <inputs [buttonConfig]="sudokuService.buttons | async"
              (buttonClick)="sudokuService.handleButtonClick($event)"
      ></inputs>
    </div>
    <div class="settings-panel">
      <button class="settings-button" (click)="toggleSettings()">{{ settingsButtonText }}</button>
      <settings id="fade-in" [class.show]="showSettings"
                (newGame)="sudokuService.initNewSudoku($event)"
                [isVisible]="showSettings"
      ></settings>
    </div>
  </div>
</div>
