/* You can add global styles to this file, and also import other style files */
@mixin light-mode() {
  --bgColor: #fff;
  --textColor: #000;
  --borderColor: #000;
  --buttonDisabled: #c8c8c8;

  --gameSelectedColor: #6dd6f1;
  --gameSameValueColor: #b4eeff;
  --gameSameRowOrColumnColor: #d4f1fd;
  --gameSameBlockColor: #d4f1fd;
  --gameErrorColor: #d55858;
  --gameUserAddedValueColor: #062ec8;
}

@mixin dark-mode() {
  --bgColor: #171e29;
  --textColor: #fff;
  --borderColor: #fff;
  --buttonDisabled: #555555;

  --gameSelectedColor: #2675dc;
  --gameSameValueColor: #6399b6;
  --gameSameRowOrColumnColor: #788f9f;
  --gameSameBlockColor: #788f9f;
  --gameErrorColor: #d55858;
  --gameUserAddedValueColor: #062ec8;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 550;

  transition: all .3s;

  .light {
    @include light-mode();
  }

  .dark {
    @include dark-mode();
  }
}
